@model CoffeeShop.BLL.Models.PointConvertModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<label class="control-label">Amount converted</label>
@Html.DisplayFor(modelItem => modelItem.Amount)


